RewriteEngine On
RewriteCond %{HTTP:Origin} !^$|http(s)?://(spungold\.)?flat\.is$ [NC]
RewriteRule \.(woff|eot|ttf|otf)$ - [NC,L]
RewriteCond %{HTTP_REFERER} !.
RewriteRule \.(woff|eot|ttf|otf)$ - [F,NC,L]
Options -Indexes
