/* ==================================================================
 *
 * Mixin
 *
 * ------------------------------------------------------------------ */

/* ---------------------------------
 *   CSS Image Sprite   */
@mixin image-sprite ($_width: 0, $_height: 0, $_left: 0, $_top: 0, $display: block) {
    display: $display;

    width: $_width;
    height: $_height;

    background-image: url(image.png);
    background-repeat: none;
    background-position: $_left $_top;

    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
        background-image: url(image@2x.png);
        -webkit-background-size: 0px 0px;
                background-size: 0px 0px;
    }
}
