/* ==================================================================
 *
 * TYPOGRAPHY
 *
 * ------------------------------------------------------------------
 *
 *
 *
 * ------------------------------------------------------------------ */

$experimental-support-for-svg: true;
$base-font-size              : 14px;
$base-line-height            : 21px;
$rhythm-unit                 : 'rem';

@include establish-baseline;


/* ---------------------------------
 *   Font   */

// デフォルト Font Family
$font-family--default         : 'AppleSystem', 'MySansSerif', 'MyHiragino', 'メイリオ', Meiryo, Osaka, 'MS UI Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;


/* ==================================================================
 *
 * @font-face
 *
 * ------------------------------------------------------------------ */

/* ---------------------------------
 *   MyHiragino   */
@font-face {
    font-family: 'MyHiragino';
    font-weight: normal;
    src: local('Hiragino Sans'),
         local('ヒラギノ角ゴ ProN W3'),
         local('Hiragino Kaku Gothic ProN');
}
@font-face {
    font-family: 'MyHiragino';
    font-weight: bold;
    src: local('Hiragino Sans'),
         local('ヒラギノ角ゴ ProN W6'),
		 local('Hiragino Kaku Gothic ProN W6');
}
@font-face {
    font-family: 'MyHiragino';
    font-weight: 800;
    src: local('Hiragino Sans'),
         local('ヒラギノ角ゴ StdN'),
		 local('Hiragino Kaku Gothic StdN');
}


/* ---------------------------------
 *   MyYuGothic   */
@font-face {
    font-family: 'MyYuGothic';
    font-weight: normal;
    src: local('游ゴシック Medium'),
         local('YuGothic-Medium'), /* Postscript name */
         local('Yu Gothic Medium'), /* for Chrome */
         local('游ゴシック体'), /* for Mac */
         local('YuGothic'), /* for Mac */
         local('YuGothic-Regular'); /* Mediumがない場合 */
}
@font-face {
    font-family: 'MyYuGothic';
    font-weight: bold;
    src: local('游ゴシック Bold'),
         local('YuGothic-Bold'), /* Postscript name */
         local('Yu Gothic'), /* for Chrome */
         local('游ゴシック体'), /* for Mac */
         local('YuGothic'); /* for Mac */
}


/* ---------------------------------
 *   AppleSystem   */
@font-face {
    font-family: 'AppleSystem';
    src: local('-apple-system'),
         local('BlinkMacSystemFont');
}


/* ---------------------------------
 *   MySansSerif   */
@font-face {
    font-family: 'MySansSerif';
    font-weight: normal;
    src: local('Helvetica')
		 local('Arial');
}
@font-face {
    font-family: 'MySansSerif';
    font-weight: bold;
    src: local('HelveticaBold'),
         local('Helvetica-Bold'),
         local('Helvetica Bold'),
		 local('Arial Bold');
}
@font-face {
    font-family: 'MySansSerif';
    font-weight: 900;
    src: local('HelveticaBlack'),
         local('Helvetica-Black'),
         local('Helvetica Black'),
         local('Arial Black');
}



/* ==================================================================
 *
 * Elements
 *
 * ------------------------------------------------------------------ */

body {
	font-family: $font-family--default;
	text-rendering: optimizeLegibility;

    @include font-feature-settings('palt');
    @include font-smoothing();
}

.x-large { @include compass-font-size(2    * $base-font-size); }
.large   { @include compass-font-size(1.5  * $base-font-size); }
.mid     { @include compass-font-size(1.17 * $base-font-size); }
.normal  { @include compass-font-size(1    * $base-font-size); }
.small   { @include compass-font-size(.83  * $base-font-size); }
.x-small { @include compass-font-size(.67  * $base-font-size); }
