/* ==================================================================
 *
 * TYPOGRAPHY
 *
 * ------------------------------------------------------------------
 *
 *
 *
 * ------------------------------------------------------------------ */

/* ==================================================================
 *
 * @font-face
 *
 * ------------------------------------------------------------------ */

/* ---------------------------------
 *   MyHiragino   */
@font-face {
    font-family: 'MyHiragino';
    font-weight: normal;
    src: local('Hiragino Sans'),
         local('ヒラギノ角ゴ ProN W3'),
         local('Hiragino Kaku Gothic ProN');
}
@font-face {
    font-family: 'MyHiragino';
    font-weight: bold;
    src: local('Hiragino Sans'),
         local('ヒラギノ角ゴ ProN W6'),
		 local('Hiragino Kaku Gothic ProN W6');
}
@font-face {
    font-family: 'MyHiragino';
    font-weight: 800;
    src: local('Hiragino Sans'),
         local('ヒラギノ角ゴ StdN'),
		 local('Hiragino Kaku Gothic StdN');
}


/* ---------------------------------
 *   MyYuGothic   */
@font-face {
    font-family: 'MyYuGothic';
    font-weight: normal;
    src: local('游ゴシック Medium'),
         local('YuGothic-Medium'), /* Postscript name */
         local('Yu Gothic Medium'), /* for Chrome */
         local('游ゴシック体'), /* for Mac */
         local('YuGothic'), /* for Mac */
         local('YuGothic-Regular'); /* Mediumがない場合 */
}
@font-face {
    font-family: 'MyYuGothic';
    font-weight: bold;
    src: local('游ゴシック Bold'),
         local('YuGothic-Bold'), /* Postscript name */
         local('Yu Gothic'), /* for Chrome */
         local('游ゴシック体'), /* for Mac */
         local('YuGothic'); /* for Mac */
}


/* ---------------------------------
 *   System Serif   */

@font-face {
    font-family: 'SystemSerif';
    src: local('-apple-system'),
         local('BlinkMacSystemFont'),
         local('.SFNSDisplay-Regular'),
         // local('Segoe UI'),
         local('Helvetica'),
         local('Arial');
}


/* ==================================================================
 *
 * Compass
 *
 * ------------------------------------------------------------------ */

$base-font-size  : 14px;
$base-line-height: 21px;
$rhythm-unit     : 'rem';

@include establish-baseline;


/* ==================================================================
 *
 * Font
 *
 * ------------------------------------------------------------------ */

$font-family--jp-mac: 'MyHiragino', Osaka;
$font-family--jp-win: 'メイリオ', Meiryo, 'MS UI Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic';

$font-family--default: 'SystemSerif', $font-family--jp-mac, $font-family--default-win, sans-serif;


/* ==================================================================
 *
 * Elements
 *
 * ------------------------------------------------------------------ */

body {
	font-family: $font-family--default;
	text-rendering: optimizeLegibility;

    @include font-feature-settings('palt');
    @include font-smoothing();

	@at-root .ua-ios-7 & { @include font-feature-settings('pkna'); }
	@at-root .ua-ios-8 & { @include font-feature-settings('pkna'); }
	@at-root .ua-ios-9 & { @include font-feature-settings('pkna'); }
}
