/* ==================================================================
 *
 * TYPOGRAPHY
 *
 * ------------------------------------------------------------------
 *
 *
 *
 * ------------------------------------------------------------------ */

$experimental-support-for-svg: true;
$base-font-size              : 14px;
$base-line-height            : 21px;
$rhythm-unit                 : 'rem';

@include establish-baseline;


/* ---------------------------------
 *   Font   */

// デフォルト Font Family
$font-family--default         : 'YakuHanJP', 'MySansSerif', 'MyHiragino', 'メイリオ', Meiryo, Osaka, 'MS UI Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;


/* ==================================================================
 *
 * @font-face
 *
 * ------------------------------------------------------------------ */

/* ---------------------------------
 *   MyHiragino   */
@font-face {
    font-family: 'MyHiragino';
    font-weight: normal;
    src: local('Hiragino Sans'),
         local('ヒラギノ角ゴ ProN W3'),
         local('Hiragino Kaku Gothic ProN');
}
@font-face {
    font-family: 'MyHiragino';
    font-weight: bold;
    src: local('Hiragino Sans'),
         local('ヒラギノ角ゴ ProN W6'),
		 local('Hiragino Kaku Gothic ProN W6');
}
@font-face {
    font-family: 'MyHiragino';
    font-weight: 800;
    src: local('Hiragino Sans'),
         local('ヒラギノ角ゴ StdN'),
		 local('Hiragino Kaku Gothic StdN');
}


/* ---------------------------------
 *   MyYuGothic   */
@font-face {
    font-family: 'MyYuGothic';
    font-weight: normal;
    src: local('游ゴシック Medium'),
         local('YuGothic-Medium'), /* Postscript name */
         local('Yu Gothic Medium'), /* for Chrome */
         local('游ゴシック体'), /* for Mac */
         local('YuGothic'), /* for Mac */
         local('YuGothic-Regular'); /* Mediumがない場合 */
}
@font-face {
    font-family: 'MyYuGothic';
    font-weight: bold;
    src: local('游ゴシック Bold'),
         local('YuGothic-Bold'), /* Postscript name */
         local('Yu Gothic'), /* for Chrome */
         local('游ゴシック体'), /* for Mac */
         local('YuGothic'); /* for Mac */
}


/* ---------------------------------
 *   AppleSystem   */
@font-face {
    font-family: 'AppleSystem';
    src: local('-apple-system'),
         local('BlinkMacSystemFont');
}


/* ---------------------------------
 *   MySansSerif   */
@font-face {
    font-family: 'MySansSerif';
    font-weight: normal;
    src: local('Helvetica')
		 local('Arial');
}
@font-face {
    font-family: 'MySansSerif';
    font-weight: bold;
    src: local('HelveticaBold'),
         local('Helvetica-Bold'),
         local('Helvetica Bold'),
		 local('Arial Bold');
}
@font-face {
    font-family: 'MySansSerif';
    font-weight: 900;
    src: local('HelveticaBlack'),
         local('Helvetica-Black'),
         local('Helvetica Black'),
         local('Arial Black');
}


/* ---------------------------------
 *   Adobe Blank   */
@font-face {
	font-family: 'Adobe Blank';
	src: url('//cdn.rawgit.com/adobe-fonts/adobe-blank/6a7a4866/AdobeBlank.eot?raw=true');
	src: url('//cdn.rawgit.com/adobe-fonts/adobe-blank/6a7a4866/AdobeBlank.eot?raw=true?#iefix') format('embedded-opentype');
	src: local('☺︎'),
		 url('//cdn.rawgit.com/adobe-fonts/adobe-blank/6a7a4866/AdobeBlank.otf.woff?raw=true') format('woff'),
		 url('//cdn.rawgit.com/adobe-fonts/adobe-blank/6a7a4866/AdobeBlank.ttf?raw=true') format('truetype');
}


/* ---------------------------------
 *   Yaku Han JP   */
@font-face {
    font-family: 'YakuHanJP';
    font-style: normal;
    font-weight: 100;
	src: url('//cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Thin.eot');
    src: local('☺︎'),
         url('//cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Thin.woff2') format('woff2'),
         url('//cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Thin.woff') format('woff');
}
@font-face {
    font-family: 'YakuHanJP';
    font-style: normal;
    font-weight: 200;
	src: url('//cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Light.eot');
    src: local('☺︎'),
         url('//cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Light.woff2') format('woff2'),
         url('//cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Light.woff') format('woff');
}
@font-face {
    font-family: 'YakuHanJP';
    font-style: normal;
    font-weight: 300;
	src: url('//cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-DemiLight.eot');
    src: local('☺︎'),
         url('//cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-DemiLight.woff2') format('woff2'),
         url('//cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-DemiLight.woff') format('woff');
}
@font-face {
    font-family: 'YakuHanJP';
    font-style: normal;
    font-weight: 400;
	src: url('//cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Regular.eot');
    src: local('☺︎'),
         url('//cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Regular.woff2') format('woff2'),
         url('//cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Regular.woff') format('woff');
}
@font-face {
    font-family: 'YakuHanJP';
    font-style: normal;
    font-weight: 500;
	src: url('//cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Medium.eot');
    src: local('☺︎'),
         url('//cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Medium.woff2') format('woff2'),
         url('//cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Medium.woff') format('woff');
}
@font-face {
    font-family: 'YakuHanJP';
    font-style: normal;
    font-weight: 700;
	src: url('//cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Bold.eot');
    src: local('☺︎'),
         url('//cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Bold.woff2') format('woff2'),
         url('//cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Bold.woff') format('woff');
}
@font-face {
    font-family: 'YakuHanJP';
    font-style: normal;
    font-weight: 900;
	src: url('//cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Black.eot');
    src: local('☺︎'),
         url('//cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Black.woff2') format('woff2'),
         url('//cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Black.woff') format('woff');
}


/* ==================================================================
 *
 * Elements
 *
 * ------------------------------------------------------------------ */

body {
	font-family: $font-family--default;
	text-rendering: optimizeLegibility;

    @include font-feature-settings('palt');
    @include font-smoothing();
}

.x-large { @include compass-font-size(2    * $base-font-size); }
.large   { @include compass-font-size(1.5  * $base-font-size); }
.mid     { @include compass-font-size(1.17 * $base-font-size); }
.normal  { @include compass-font-size(1    * $base-font-size); }
.small   { @include compass-font-size(.83  * $base-font-size); }
.x-small { @include compass-font-size(.67  * $base-font-size); }
