/* ==================================================================
 *
 * VARIABLES
 *
 * ------------------------------------------------------------------
 *
 *
 *
 * ------------------------------------------------------------------ */

/* ==================================================================
 * Compass
 * ------------------------------------------------------------------ */


/* ==================================================================
 * Font
 * ------------------------------------------------------------------ */

$font-family--jp-mac: 'MyHiragino', Osaka;
$font-family--jp-win: 'メイリオ', Meiryo, 'MS UI Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic';

$font-family--default: 'SystemSerif', $font-family--jp-mac, $font-family--default-win, sans-serif;
